html {
	font-size: 14px;
	color: #303133;
	overflow-y: hidden;
}

body, textarea {
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei"
}


/* 滚动条样式重写 */

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-button {
	/* 2 */
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
}

::-webkit-scrollbar-track-piece {
	/* 4 */
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 5px;
}

::-webkit-scrollbar-corner {
	/* 6 */
}

::-webkit-resizer {
	/* 7 */
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}

.span {
	display: inline-block;
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	border-radius: 2px;
	cursor: pointer;
}

.span-mini {
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

.span-success {
	background: rgba(19, 206, 102, 1);
}

.span-success:hover {
	background: rgba(19, 206, 102, 0.8);
}

.span-danger {
	background: rgba(255, 73, 73, 1);
}

.span-danger:hover {
	background: rgba(255, 73, 73, 0.8);
}

.span-primary {
	background: rgba(32, 160, 255, 1);
}

.span-primary:hover {
	background: rgba(32, 160, 255, 0.8);
}

.span-warning {
	background: rgba(247, 186, 42, 1);
}

.span-warning:hover {
	background: rgba(247, 186, 42, 0.8);
}

.span-default {
	background: rgba(218, 218, 218, 1);
	border: 1px solid #bfcbd9;
}

.span-default:hover {
	background: rgba(218, 218, 218, 0.8);
}

.right {
	float: right;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ellipsis .cell.el-tooltip {
	white-space: normal;
}

.line-clamp-2 .el-tooltip {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.line-clamp-3 .el-tooltip {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.line-clamp-4 .el-tooltip {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}


.hidden {
	display: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.pswp__bg {
	background-color: rgba(0, 0, 0, .75) !important;
}